{% extends "base.html" %}
{% load static %}
{% load polls %}

{% block title %}
    Cat's Projects
{% endblock title %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">
<script src="{% static 'scripts/update.js' %}"></script>
<script>
  var game = '{{ game }}'
  var img_type = '{{ img_type }}'
</script>
<script>
  $( function() {
    $( "#priorities" ).sortable({
      change: function(event, ui) {
        Update(game)
      }
    });
  });

  {% comment %} $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  }); {% endcomment %}

</script>
<script> var django_csrf_token = '{{ csrf_token }}'; </script>
{% endblock head %}


{% block content %}

<div id="accordion">
    <div class="card text-white bg-dark">
      <div class="card-header" id="headingOne">
          <img src="{% block game_icon %}{% endblock game_icon %}" alt="" style="margin-top: -7px;width: 50px;">
          <h3 class="text-white bg-dark" style="display: inline;">{% block game_name %}{% endblock game_name %}</h3>
      </div>
  
      <div data-parent="#accordion">
        <div class="card-body">
          <div class="container-lg ml-1 mr-1">
            <div class="row">
              <div class="col-4">
                <h4>Targets:</h4>
              </div>
              <div class="col-3">
                <button class="btn" style="color: white; background: transparent" onclick="ShowPriorities(this)">
                  <h4 ><i class="arrow down"></i> Priorities:</h4>
                </button>
              </div>
              <div class="col">
                <h4>Options: </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <form method="post" action="/calculator/update/" autocomplete="off" id="items-form">
                  {% csrf_token %}
                  <datalist id="items">
                    {% for i in items %}
                      <option value="{{ i }}">{{ i | empty:"-" | title }}</option>
                    {% endfor %}
                  </datalist>
                  <div class="form-group row" id="factorio_target">
                    <div class="col-md-5">
                      <input class="form-control" list="items" placeholder="Search for Item" name="name">
                    </div>
                    <div class="col-md-5">
                      <input class="form-control" placeholder="Enter Amount..." name="amount">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-3">
                <dl id="priorities" style="display: none">
                  {% for i in raw %}
                    <li class="ui-state-default" style="list-style-type:none" id="{{ i }}">
                      <div class="card text-white bg-secondary w-50">
                        <h4 class="text-center">{{ i | empty:"-" | title }}</h4>
                      </div>
                  {% endfor %}
                  </li>
                </dl> 
              </div>
              <div class="col">
                {% block options %}{% endblock options %}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn" id="add_btn" onclick="Add()">Add Item</button>
              </div>
            </div>
            <div class="row" style="margin-top: 50px;">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Items</button>
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Recipes</button>
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Flow Chart</button>
              </div>
            </div>
            <div class="row">
              <div class="card w-75">
                <div class="card-header" style="color: black">
                  Results:
                </div>
                <ul class="list-group list-group-flush" id="res_items_list">
                  {% comment %} <li class="list-group-item" style="background-color: #05111e; color: white">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#res_item_debug" aria-expanded="false" aria-controls="res_item_debug">
                      DEBUG
                    </button>
                    <div id="res_item_debug" class="collapse show">
                      <ul class="list-group list-group-flush">
                        <h6>Produced By: </h6>
                        <li class="list-group-item" style="color: black">
                          <button class="btn" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            aaaaaaaaaaaaaaaaaaaaa
                          </button>
                        </li>
                        
                      </ul>
                    </div>
                  </li> {% endcomment %}
                  {% comment %} <li class="list-group-item" style="background-color: #05111e; color: white">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#res_item_debug" aria-expanded="false"   ="res_item_debug">
                      DEBUG
                    </button>
                    <div id="res_item_debug" class="collapse show">
                      DEBUG BODY
                    </div>
                  </li> {% endcomment %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  var form = document.getElementById("items-form")
  form.addEventListener("change", function() {
    Update(game)
  }); 
</script>




{% endblock content %}