{% extends "base.html" %}
{% load static %}
{% load polls %}

{% block title %}
    Cat's Projects
{% endblock title %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">
<script src="{% static 'scripts/update.js' %}"></script>
<script>
  $( function() {
    $( "#priorities" ).sortable({
      change: function(event, ui) {
        Update()
      }
    });
  });

  {% comment %} $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  }); {% endcomment %}

</script>
<script> var django_csrf_token = '{{ csrf_token }}'; </script>
{% endblock head %}


{% block content %}

<div id="accordion">
    <div class="card text-white bg-dark">
      <div class="card-header" id="headingOne">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <img src="{% static 'img/factorio.png' %}" alt="" style="margin-top: -7px;width: 50px;">
            <h3 class="text-white bg-dark" style="display: inline;">FACTORIO</h3>
          </button>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container-lg ml-1 mr-1">
            <div class="row">
              <div class="col-4">
                <h4>Targets:</h4>
              </div>
              <div class="col-3">
                <button class="btn" style="color: white; background: transparent" onclick="ShowPriorities(this)">
                  <h4 ><i class="arrow down"></i> Priorities:</h4>
                </button>
              </div>
              <div class="col">
                <h4>Options: </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <form method="post" action="/calculator/update/" autocomplete="off" id="items-form">
                  {% csrf_token %}
                  <datalist id="factorio_items">
                    {% for i in factorio_items %}
                      <option value="{{ i }}">{{ i | empty:"-" | title }}</option>
                    {% endfor %}
                  </datalist>
                  <div class="form-group row" id="factorio_target_1">
                    <div class="col-md-5">
                      <input class="form-control" list="factorio_items" placeholder="Search for Item" name="name_1" id="name_1">
                    </div>
                    <div class="col-md-5">
                      <input class="form-control" placeholder="Enter Amount..." name="amount_1" id="amount_1">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-3">
                <dl id="priorities" style="display: none">
                  {% for i in factorio_raw %}
                    <li class="ui-state-default" style="list-style-type:none" id="{{ i }}">
                      <div class="card text-white bg-secondary w-50">
                        <h4 class="text-center">{{ i | empty:"-" | title }}</h4>
                      </div>
                  {% endfor %}
                  </li>
                </dl> 
              </div>
              <div class="col">
                {% for a in factorio_alt %}
                <div class="form-check form-check-inline">
                  <label class="form-check-label" onclick="Update()">
                    {% if forloop.first %}
                    <input class="form-check-input" type="radio" value="{{ a }}" name="alt-checkbox" checked>
                    {% else %}
                    <input class="form-check-input" type="radio" value="{{ a }}" name="alt-checkbox">
                    {% endif %}
                    {{ a | empty:"-" | title }}
                    </input>
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn" id="add_btn" onclick="Add()">Add Item</button>
              </div>
            </div>
            <div class="row" style="margin-top: 50px;">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Items</button>
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Recipes</button>
                <button type="button" class="btn btn-dark" style="background-color: #05111e; border-color: var(--res-color-2);">Flow Chart</button>
              </div>
            </div>
            <div class="row">
              <div class="card w-75">
                <div class="card-header" style="color: black">
                  Results:
                </div>
                <ul class="list-group list-group-flush" id="res_items_list">
                  {% comment %} <li class="list-group-item" style="background-color: #05111e; color: white">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#res_item_debug" aria-expanded="false" aria-controls="res_item_debug">
                      DEBUG
                    </button>
                    <div id="res_item_debug" class="collapse show">
                      <ul class="list-group list-group-flush">
                        <h6>Produced By: </h6>
                        <li class="list-group-item" style="color: black">
                          <button class="btn" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            aaaaaaaaaaaaaaaaaaaaa
                          </button>
                        </li>
                        
                      </ul>
                    </div>
                  </li> {% endcomment %}
                  {% comment %} <li class="list-group-item" style="background-color: #05111e; color: white">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#res_item_debug" aria-expanded="false"   ="res_item_debug">
                      DEBUG
                    </button>
                    <div id="res_item_debug" class="collapse show">
                      DEBUG BODY
                    </div>
                  </li> {% endcomment %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark">
      <div class="card-header" id="headingTwo">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3 class="text-white bg-dark">Satisfactory</3>
          </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
</div>

<script>
  var form = document.getElementById("items-form")
  form.addEventListener("change", Update); 
</script>

<script>
  $('#items-form').on('submit', function(event) {
    event.preventDefault();
    console.log("calculating...")  // sanity check
    Update()
  });

  $(  )
</script>



{% endblock content %}

