
{% extends "calculator/calculator_main.html" %}
{% load static %}
{% load polls %}

{% block game_icon %}{% static 'img/factorio.png' %}{% endblock game_icon %}
{% block game_name %}Factorio{% endblock game_name %}

{% block options %}
{% for a in alt %}
    <div class="form-check form-check-inline">
        <label class="form-check-label" onclick="Update()">
        {% if forloop.first %}
            <input class="form-check-input" type="radio" value="{{ a }}" name="alt-checkbox" checked>
        {% else %}
            <input class="form-check-input" type="radio" value="{{ a }}" name="alt-checkbox">
        {% endif %}
        {{ a | empty:"-" | title }}
            </input>
        </label>
    </div>
{% endfor %}
{% endblock options %}

