#articles-container {
    padding-top: 50px;
    width: 99%;
    flex-wrap: wrap;
}
#article-container {
    padding-top: 100px;
    width: 90%;
    color:white;
}
.col {
    padding: 2px;
}
.card {
    background-color: #1a0a0a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    color: white;
}

h2>b {
    font-size: xxx-large;
    flex-basis: 100%;
}

.card-header {
    background: rgba(0, 0, 0, 0.5);
    margin-top: -2px
}

.card-body {
    background-color: transparent;
    text-align: center;
    flex-direction: column;
}  

a:hover {
    box-shadow: 0px 0px 5px 5px rgb(248, 248, 248);
    text-shadow: 0px 0px 5px rgb(190, 13, 13);
    color: white;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    color: white;
}