{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
<script src={% static 'scripts/chat.js' %}></script>
<script src={% static 'scripts/sse.js' %} crossorigin="anonymous"></script>
<script> var django_csrf_token = '{{ csrf_token }}'; </script>
<style>
    .row {
        padding: 10px;
    }
    li:hover {
        background-color: cyan;
    }
</style>
{% endblock head %}

{% block title %}
    Cat's Article
{% endblock title %}
{% block content %}
<div class="container" style="padding-top: 50px;" id="articles-container">
    <div class="row">
        <span class="input-group-text" id="basic-addon1">职业</span>
        <input id="search" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <ul class="list-group" id="list">
    </ul>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="Send()">查询</button>
        </div>
        <div class="col">
            <button class="btn btn-danger" onclick="Reset()">重新开始</button>
        </div>


    </div>
    <div class="row">
        <textarea name="chatOutput" id="chatOutput" cols="200" rows="10" readonly>
            Powered by GrowU
        </textarea>
    </div>

</div>
{% endblock content %}