<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="https://github.com/Tesseract22/">TesseractCat</a>

      <div>
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'article:list' %}">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculator:factorio_main">Projects</a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>