{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock head %}

{% block title %}
    Cat's Article
{% endblock title %}
{% block content %}
<div class="container-fluid" style="padding-top: 50px;" id="articles-container">
    {% for article in articles %}   
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
        {% endif %}
        <div class="col">
            <a class="card d-flex" style="background-image: url({{ article.cover.url }})" href="{% url 'article:view-article' article.id %}">
                <h6 class="card-header">{{ article.created }}</h6>
                <div class="card-body align-items-center d-flex justify-content-center">
                    <h2><b>{{ article.title }}</b></h2>
                    <h5>{{ article.id }}</h5>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
    {% endfor %}
    {% if not articles|length|divisibleby:2 %}
        </div>
    {% endif %}
</div>
{% endblock content %}